<div class="teamDropDown top">
  <%= collection_select :spot, :team_id, @teams, :id, :name, {:include_blank => true }, { :id => topID }%>
</div>
<div class="teamDropDown bottom">
  <%= collection_select :spot, :team_id, @teams, :id, :name, {:include_blank => true }, { :id => bottomID} %>
</div>
