<div class="teamDropDown top">
<%= select_tag "teams", options_for_select(@teams, "name") %>
</div>
<div class="teamDropDown bottom">
<%= select_tag "teams", options_for_select(@teams, "name") %>
</div>
